<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>adminloginDB</servlet-name>
        <servlet-class>adminloginDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpValid</servlet-name>
        <servlet-class>EmpValid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>ReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotDB</servlet-name>
        <servlet-class>ForgotDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePaswdDB</servlet-name>
        <servlet-class>ChangePaswdDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotDBAdmin</servlet-name>
        <servlet-class>ForgotDBAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changepasswordadmin</servlet-name>
        <servlet-class>Changepasswordadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassAdminDB</servlet-name>
        <servlet-class>ChangePassAdminDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JavaEmail</servlet-name>
        <servlet-class>JavaEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forgot_pass</servlet-name>
        <servlet-class>Forgot_pass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionMyaccountemp</servlet-name>
        <servlet-class>SessionMyaccountemp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editcarreportDB</servlet-name>
        <servlet-class>editcarreportDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpChangePassDB</servlet-name>
        <servlet-class>EmpChangePassDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpChangePaswdDB</servlet-name>
        <servlet-class>EmpChangePaswdDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminChangePass</servlet-name>
        <servlet-class>AdminChangePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserVerify</servlet-name>
        <servlet-class>UserVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCode</servlet-name>
        <servlet-class>VerifyCode</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminloginDB</servlet-name>
        <url-pattern>/adminloginDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpValid</servlet-name>
        <url-pattern>/EmpValid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotDB</servlet-name>
        <url-pattern>/ForgotDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePaswdDB</servlet-name>
        <url-pattern>/ChangePaswdDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotDBAdmin</servlet-name>
        <url-pattern>/ForgotDBAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changepasswordadmin</servlet-name>
        <url-pattern>/Changepasswordadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassAdminDB</servlet-name>
        <url-pattern>/ChangePassAdminDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JavaEmail</servlet-name>
        <url-pattern>/JavaEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forgot_pass</servlet-name>
        <url-pattern>/Forgot_pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionMyaccountemp</servlet-name>
        <url-pattern>/SessionMyaccountemp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editcarreportDB</servlet-name>
        <url-pattern>/editcarreportDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpChangePassDB</servlet-name>
        <url-pattern>/EmpChangePassDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpChangePaswdDB</servlet-name>
        <url-pattern>/EmpChangePaswdDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminChangePass</servlet-name>
        <url-pattern>/AdminChangePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserVerify</servlet-name>
        <url-pattern>/UserVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCode</servlet-name>
        <url-pattern>/VerifyCode</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
